.component-container {
    background-color: var(--background);
    height: 100%;
    box-shadow: -4px 0px 6px -3px rgba(0,0,0,0.34);
    padding: 2rem;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .item {
            display: flex;
            align-items: center;
            gap: 1rem;
    
            ::ng-deep {
                .p-checkbox-box, .p-checkbox {
                    width: 20px;
                    height: 20px;
                }
            }

            label {
                flex-grow: 1;     
            }
        }
    }

    .input-container {
        margin-top: 0.5rem;
    }

}