<div class="component-container">
    <h2>To-Do</h2>
    <div class="list">
        <div class="item" *ngFor="let todo of todos" [class.item-completed]="todo.completed">
            <p-checkbox [ngModel]="todo.completed" [binary]="true"
                (onChange)="updateTodoState(todo.id, $event.checked)" />
            <span [title]="todo.name">{{ todo.name }}</span>
            <p-button icon="pi pi-times" [text]="true" severity="danger" (click)="deleteTodo(todo.id)" />
        </div>
        <div class="input-container">
            <input type="text" placeholder="Adicionar tarefa" pInputText [(ngModel)]="newTodo"
                (keydown.enter)="saveTodo()">
        </div>
    </div>
</div>