.component-container {
    background-color: var(--background);
    height: 100%;
    box-shadow: 4px 0px 6px -3px rgba(0, 0, 0, 0.34);
    padding: 2rem;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .list {
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            justify-content: space-between;
            border-bottom: solid #e0e0e0 1px;
            color: #1f1f1f;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 1rem;
            cursor: pointer;
            
            span {
                max-width: 90%;
                overflow: hidden;
                text-wrap: nowrap;
                text-overflow: ellipsis;
            }
        }

        >:first-child {
            border-top: solid #e0e0e0 1px;
        }

        .deleteButton {
            height: 10px;
            width: 10px;
            border: none;
        }

    }

    .addButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

}