.component-container {
    padding: 1rem 2rem 6rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    p-editor {
        flex-grow: 1;
    }

}

input {
    margin-bottom: 1rem;
    width: 100%;
    font-size: x-large;
    font-family: 'Roboto';
    border: none;
    box-shadow: none;
    text-align: center;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c2c2c2;
}